# Exercise 1 notebook

In [36]:
import os, sys, gc, time, scipy as sp, numpy as np, sklearn as sk, pandas as pd, tensorflow as tf 
from sklearn.preprocessing import StandardScaler
import scipy.stats as scs
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
from sklearn.preprocessing import OneHotEncoder
import sklearn.metrics as skm
import xgboost as xgb
from sklearn.linear_model import LogisticRegression

In [13]:
%%timeit 
import time 
time.sleep(1)

1 s ± 32.3 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [21]:
print(os.getcwd())

C:\Users\ThinkPad\Hospital_IQ

In [24]:
data = pd.read_csv("data.csv")

In [25]:
data.columns

Index(['id', 'low', 'age', 'lwt', 'race', 'smoke', 'ptl', 'ht', 'ui', 'ftv',
       'bwt', 'hospid'],
      dtype='object')

In [26]:
data.head()

    id  low  age  lwt   race  smoke  ptl  ht  ui  ftv   bwt  hospid
0  188    0   25   95  white      1    3   0   1    0  3637       3
1   98    0   22   95  other      0    0   1   0    0  2750       3
2  144    0   21  110  other      1    0   0   1    0  3203      19
3  154    0   26  133  other      1    2   0   0    0  3260       1
4  119    0   35  121  black      1    1   0   0    1  2948       6

In [35]:
#data["low"].value_counts()
#data.isna().sum()
#data.dtypes
#np.corrcoef(data_numerical.values.T)
data["race"].value_counts()

In [52]:
oh_race = pd.get_dummies(data["race"])

In [54]:
oh_race.shape

(189, 3)

In [37]:
data_numerical = data.drop(["race"], axis=1)

In [55]:
data_numerical.shape

(189, 11)

In [57]:
data_transformed = pd.concat([data_numerical,oh_race],axis=1)

In [65]:
X = data_transformed.drop(["id","hospid","bwt","low","white"],axis=1)

In [67]:
Y = data_transformed["low"]

In [72]:
Y.shape

(189,)

In [73]:
import statsmodels.api as sm
logit = sm.Logit(Y, X)

In [75]:
# fit the model
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.532977
         Iterations 6

In [76]:
print(result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                    low   No. Observations:                  189
Model:                          Logit   Df Residuals:                      180
Method:                           MLE   Df Model:                            8
Date:                Tue, 13 Oct 2020   Pseudo R-squ.:                  0.1415
Time:                        14:34:31   Log-Likelihood:                -100.73
converged:                       True   LL-Null:                       -117.34
Covariance Type:            nonrobust   LLR p-value:                 5.653e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
age           -0.0205      0.029     -0.706      0.480      -0.077       0.036
lwt           -0.0137      0.005     -2.556      0.011      -0.024      -0.003
smoke          0.9829      0.386      2.546      0.011       0.226       1.740
ptl            0.5408      0.344      1.570      0.116      -0.134       1.216
ht             1.8177      0.684      2.657      0.008       0.477       3.159
ui             0.7936      0.454      1.748      0.080      -0.096       1.683
ftv            0.0618      0.170      0.362      0.717      -0.272       0.396
black          1.2959      0.524      2.472      0.013       0.269       2.323
other          0.9493      0.406      2.339      0.019       0.154       1.745
==============================================================================